.header{
    background-color: white;
}
.nav-link{
    color: yellow !important;
}

.centered{
    text-align: center;
}
.imgslider{
    width: 100%;
    height: 100%;
}
.carousel slide{
    width: 100%;
}
.carousel-item{
    height: 500px;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size:cover;
    background-size: cover;
}
.carousel-caption{
    bottom: 270px;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.navbar-brand{
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#fa{
    color: white;
    padding: 0px 20px 0px 20px;
     
 }
 #tw{
    color: white;
    padding: 20px 20px 0px 20px;
 }
 #in{
    color:  white;
    padding: 0px 20px 0px 20px;
 }
 #pi{
    color: white;
    padding: 0px 20px 0px 20px;
 }
 .footer{
    position: absolute;
    background-color: #12233c;
    padding: 5px;
    text-align: center;
    width: 100%;
    height: 10%;
 }
.footermapa{
     
    position: absolute;
    bottom: -10%;
    background-color: #12233c;
    padding: 5px;
    text-align: center;
    width: 100%;
    height: 12%;
    color: white;
}
@media (min-width: 300px) and (max-width: 400px){
    .footermapa{
        position: absolute;
    bottom: 0%;
    background-color: #12233c;
    padding: 5px;
    text-align: center;
    width: 100%;
    height: 12%;
    color: white;
    }
}
@media (min-width: 900px) and (max-width: 1300px){
    .footermapa{
        position: absolute;
    bottom: -35%;
    background-color: #12233c;
    padding: 5px;
    text-align: center;
    width: 100%;
    height: 12%;
    color: white;
    }
}
.hefonosotros{
    background-color:#12233c; 
    color: white;
}
.nosotros{
    width: 100%;
    padding: 0 20% 0 20%;
}
 .carousel-indicators{
     top: 0px;
     padding: 1%;
 }
 .footerimg{
     width: 100%;
     position: center;
     padding: 0px 40% 0px 40%;
 }